*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Calibri;

}

body{
    background: lightslategray;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    position:relative;
    width: 100%;
    min-width: 1000px;
    min-height: 1000px;
    margin: 50px;
    display:grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(39, 37, 37, 0.841);
}

.container .left{
     position: relative;
     background: #88A9C3;
     padding: 40px;
}


.profiletext{
    position: relative;
    display : flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

 .profiletext .profileimage{
 position: relative;
 width: 200px;
 height: 200px;
 border-radius: 50%;
 background-image: url(rsz_myself_1.jpg);
 background-position: center;
 overflow: hidden;
} 

 .profiletext .profileimage image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
} 
.profiletext h2{
    color: white;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.profiletext h2 span{
    font-size: 0.7em;
    font-weight: 300;
}

.info{
    padding: 40px;
}
.title{
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.4px;
    margin-bottom: 20px;    
}

.info ul{
    position: relative;
}
.info ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.info ul li .icon{
    display: inline-block;
    width: 30px;
    font-size: 20px;
    color: white
}
.info ul li span{
    color: white;
    font-weight: 200;
}
.info .education li{
    margin-bottom: 15px;
}
.info .education h5{
    color:#2B4257;
    font-weight: 500;
}

.info .education h4:nth-child(2){
    color: white;
    font-weight: 500;
}

.info .education h4{
    color: white;
    font-weight: 300;
}

.info.language .percent{
    position: relative;
    width: 100%;
    height: 6px;
    background: whitesmoke;
    display: block;
    margin-top: 5px;
}

.info.language .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #2B4257;

}

.container .right{
    position: relative;
    background:#E3EBF2 /*rgb(196, 186, 186)*/;
    padding: 40px;
}

.about{
    margin-bottom: 50px;
}
.about:last-child{
    margin-bottom: 0px;
}

.title2{
    color: rgb(5, 32, 22);
    text-transform: 10px;
    margin-bottom: 10px;
}

p{
    color: #333;
}
#proj{
    font-size: 25px;

}
.about .box{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.about .box .year_company{
    min-width: 150px;
}

.about .box .year_company h5{
    text-transform: uppercase;
    color: rgb(103, 96, 96);
    font-weight: 600;
}

.about .box.text h4{
    text-transform: uppercase;
    color: aqua;
    font-size: 16px;
}

.skills .box{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}

.skills .box h4{
    text-transform: uppercase;
    color: #848c90;
    font-weight: 500;
}

.skills .box .precent{
    position: relative;
    width: 100%;
    height: 10px;
    background: white;
}

.skills .box .precent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background:paleturquoise;
}

.interest ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.interest ul li{
    list-style: none;
    color: #333;
    font-weight: 500;
    margin: 12px 0;
}
.interest ul li .icon{
    color: rgb(39, 220, 220);
    font-size: 18px;
    width: 35px;
}

@media(max-width : 1000px){
    .container{
        margin: 10px;
        grid-template-columns: repeat(1,1fr);
    }
    .interest ul{
        grid-template-columns: repeat(2,1fr);
    }
}

@media(max-width : 600px){
    .about .box{
        flex-direction: column;
    }

    .about .box .year_company{
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .interest ul{
        grid-template-columns: repeat(1,1fr);
    }

    .skills .box{
        grid-template-columns: repeat(1,1fr);
    }


}


 
